    <!-- Navbar -->
    <nav data-mdb-navbar-init class="navbar navbar-expand-lg px-5 navbar-light bg-body-tertiary">
        <!-- Container wrapper -->
        <div class="container-fluid">
          
          <p style="font-size: 25px;font-weight: bolder; font-family: sans-serif; color: #c37272; " class="pt-1"><a href="{%url 'Home'%}">Student Portal</a></p>
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
           
          </div>
          <div class="d-flex align-items-center">
    
            <!-- Avatar -->
            <div class="dropdown">
              <a
                data-mdb-dropdown-init
                class="dropdown-toggle d-flex align-items-center hidden-arrow"
                href="#"
                id="navbarDropdownMenuAvatar"
                role="button"
                aria-expanded="false"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  class="rounded-circle"
                  height="35"
                  alt="Black and White Portrait of a Man"
                  loading="lazy"
                />
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuAvatar"
              >
                <li>
                  <a class="dropdown-item" href="{%url 'UserProfiles'%}">My profile</a>
                </li>
               {% if request.user.is_superuser %}
               <li>
                <a class="dropdown-item" href="{%url 'DashboardHome'%}">Dashboard</a>
              </li>
               {% endif %}
                <li>
                  <a class="dropdown-item" href="{%url 'Signout'%}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->